<div class="settings">
  <mat-form-field class="form-field">
    <mat-label>Array size</mat-label>

    <input
      matInput
      [formControl]="arraySizeFormControl"
      type="number"
      [min]="arrayMinSize">

    <mat-error
      *ngIf="arraySizeFormControl.hasError('min') || arraySizeFormControl.hasError('required')">
      Array size must be at least 2
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Array items range</mat-label>

    <input
      matInput
      [formControl]="arrayItemsSizeFormControl"
      type="number"
      [min]="arrayItemsMinSize">

    <mat-error
      *ngIf="arrayItemsSizeFormControl.hasError('min') || arrayItemsSizeFormControl.hasError('required')">
      Minimum generated value must be at least 1
    </mat-error>
  </mat-form-field>

  <mat-label class="move-label">
    Move item to:
  </mat-label>

  <mat-radio-group
    class="move-group"
    [(ngModel)]="isMoveItemToEnd">
    <mat-radio-button
      class="move-group__item"
      [value]="false">
      start
    </mat-radio-button>

    <mat-radio-button
      class="move-group__item"
      [value]="true">
      end
    </mat-radio-button>
  </mat-radio-group>

  <button
    mat-flat-button
    color="primary"
    [disabled]="!!arraySizeFormControl.errors || !!arrayItemsSizeFormControl.errors"
    (click)="generateItems()"
    data-test-id="btn-generate">
    Generate array
  </button>
</div>

<div
  *ngIf="items?.length"
  class="result">
  <mat-label class="result__label">
    Result:
  </mat-label>

  <div
    *ngFor="let item of items; let index = index;"
    class="result__item"
    (click)="onClickItem(index)">
    {{ item }}
  </div>
</div>
